<form action="{{ path('document_create')}}" method="POST" enctype="multipart/form-data">
	<div class="form-group">
		<label>Nombre</label>
		<input type="text" name="name" class='form-control' required>
	</div>

	<div class="form-group">
		<label>categoria</label>
		<select name="categoria" class='form-control' ng-model="category" ng-change="change()" 
			ng-options="category.name for category in categorys" required>
	      <option value="{[{category.id}]}">{[{category.name}]}</option>
	    </select>
	</div>

	<div class="form-group">
		<label>Posición</label>
		<select name="posicion" class='form-control' ng-model="posicion" 
			ng-options="posicion.name for posicion in posiciones" required>
	      <option value="{[{posicion.id}]}">{[{posicion.name}]}</option>
	    </select>
	</div>

	<div class="form-group">
		<input type="file" name="file" class='form-control' required>
	</div>

	<div class="modal-footer">
		<a href="{{ path('document') }}" class="btn btn-default">volver</a>
		<button type="submit" class='btn btn-primary'>Guardar</button>
	</div>
</form>
