{% extends 'FremartecBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Editar Documento"%}

{% block menu_admin_documentos %}class="active"{% endblock %}

{% block content %}
    <h1 class="page-header">Editar Documento</h1>

 	  {% include 'FremartecBundle:Document:_form.html.twig' %}

{% endblock %}
