{% extends 'FremartecBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Nuevo Documento"%}

{% block document_new %}class="active"{% endblock %}

{% block content %}
    <h1 class="page-header">Nuevo Documento</h1>

    {% include 'FremartecBundle:Document:_form.html.twig' %}
{% endblock %}
